INSTANCE_DIR="/home/skippybal/Projects/Styx/aclib2/instances/mip/data/SDPdMLPa-MIPVerify"
PARAM_FILE_LOC="/home/skippybal/Projects/Styx/CASMOPOLITAN/params_cosmo.pcs"
RUNSOLVER_LOC=/home/skippybal/Projects/Styx/aclib2/configurators/smac/example_scenarios/spear-generic-wrapper/runsolver
ORACLE_CAPTIME=10
K0_UTILITY=250
K1_UTILITY=1200
MAX_PROCESSES=4
BINARY_PATH="/home/skippybal/Projects/THESIS/aclib2/target_algorithms/gurobi902/run_gurobi.py"
TRAIN_INSTANCE_FILE="/home/skippybal/Projects/Styx/aclib2/instances/mip/sets/SDPdMLPa-MIPVerify/training.txt"
OBJECTIVE=UTILITY