INSTANCE_DIR="/home/skippybal/Projects/Styx/aclib2/instances/mip/data/SDPdMLPa-MIPVerify"
PARAM_FILE_LOC="/home/skippybal/Projects/Styx/CASMOPOLITAN/params_cosmo.pcs"
RUNSOLVER_LOC=/home/skippybal/Projects/Styx/aclib2/configurators/smac/example_scenarios/spear-generic-wrapper/runsolver
ORACLE_CAPTIME=10
K0_UTILITY=250